h1{
	font-family:Comic Sans Ms,bold;
	color:white;
  text-shadow:1px 2px black;

}
h2{
  font-family:Comic Sans Ms,bold;
  color:white;
 

}
.navbar{
	background-color:#bfe292;
  
}
.navbar2{
  background-color:#2a623d;
  
}
.ad {
  padding-top:100px;
  padding-bottom:200px;
  margin-bottom: 30px;
  color: inherit;

  color:white;

 
  
}
.home{
  padding: 30px 15px;
  padding-top:200px;
  padding-bottom:200px;
  margin-bottom: 30px;
  color: white;
  background-image:url('naturewall.jpg');
  
}


.ad h1{
	font-size:50;
}


 body{
 	 background-color: #eee;
 }
  

p{
	font:Tahoma,bold;
	font-size:15;
	color:black;
}
label{
	color:white;
}
.uname{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.about {
  margin-bottom:0px;
  padding-bottom:30%;
  
}
.about h1{
	color:black;
}
.top{
	padding-left:90%;
}
.uname{
	color:white;
	background-color:#bfe292;
	padding-right:10px;
}
.foot .col-md-12{
  background-color:#CCCCCC;
  font-family: Verdana,bold;
}
.home{
  padding: 30px 15px;
  padding-top:200px;
  padding-bottom:200px;
  margin-bottom: 30px;
  color: white;
  background-color: #74d600;
}
.usernamegoes h4{
   color:white;
   text-shadow:1px 2px black;
}
.usernamegoes{
    padding-bottom: 10px;
   
}

.navbar-inverse .navbar-nav > li > a {
    color:white;
}
.aboutus {
    background-color:#f4ffd6; 
}
.list-group-item{
    background-color:#f4ffd6; 
    
}
.list-group-item1{
    background-color:##ccec75; 
}
.list-group-item.active,
{
  color: #337ab7;
  background-color:#bfe292;;

}
.list-group-item{
    background-color: green;
    color:white;
}
.addbar label{
    color:black;
}
.listbar{
  color:black;
  padding-left:20; 
}
.listbar h2{
  color:black;
  padding-left:20; 
}
